.search-modal {
position: fixed;
inset: 0;
width: 100%;
height: 100%;
background-color: #fff;
padding: 0;

    &__input {
        position: sticky;
        top: 8px;    
        width: 100%;
        height: 52px;
        margin-bottom: 16px;
        background-color: #fff;
    }
    
    &__content {
        height: 100%;
        width: 100%;
        max-width: 692px;
        margin: 0 auto;
        color: #212121;
    }

    &__results {
        overflow-y: auto;
        height: calc(100% - 68px);

        ul {
            list-style: none;
            text-align: left;
            padding-left: 0;
        }
    }
}

@media (max-width: 600px) {
    .search-modal__content {
        max-width: 344px;
    }
}